<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Norway</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/615eec2c8f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
<header>
</header>
<main>
  <div class="home">
    <h1>Norway</h1>
    <p>Welcome to <br><span>Norway Events planner</span></p><br>
    <a href="/events">Show Events</a>
  </div>
  <div class="homegallery ">
    <h2>Gallery</h2>
    <div class="flexwrap flex">
      <figure class="image">
        <img class="width1" src="/images/event1.jpeg" alt="events">
      </figure>
      <figure class="image">
        <img class="width1 width2" src="/images/event2.jpeg" alt="events">
      </figure>
      <figure class="image">
        <img class="width1 width2" src="/images/event3.jpeg" alt="events">
      </figure>
      <figure class="image">
        <img class="width1" src="/images/event4.jpeg" alt="events">
      </figure>
      <figure class="image">
        <img class="width1" src="/images/event5.jpeg" alt="events">
      </figure>
      <figure class="image">
        <img class="width1 width2" src="/images/event6.jpeg" alt="events">
      </figure>
      <figure class="image">
        <img class="width1" src="/images/event7.jpeg" alt="events">
      </figure>
      <figure class="image">
        <img class="width1 width2" src="/images/event8.jpeg" alt="events">
      </figure>
      <figure class="image">
        <img class="width1 width2" src="/images/event9.jpeg" alt="events">
      </figure>
      <figure class="image">
        <img class="width1" src="/images/event10.jpeg" alt="events">
      </figure>
    </div>
  </div>
</main>
<footer>
  <small>Copyright 2018.Norways</small>
</footer>
</body>
</html>